body {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

input {
    border: 1px solid lightgray;
    outline: none;
    padding: .5rem .75rem;
    font-size: 1rem;
    color: #222222;
    border-radius: 4px;
    width: 15rem;
}

.btn {
    background-color: royalblue;
    color: #f8f8f8;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .5rem .75rem;
    border-radius: 4px;
    cursor: pointer;
}